---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
import MarkDownStyles from '../styles/md.css'
const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};
const date = frontmatter.pubDate
  ? new Date(frontmatter.pubDate).toLocaleDateString("es-EC", dateOptions)
  : null;
--- 
<BaseLayout pageTitle={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p class="author">{frontmatter.author} - {date}</p>
  <div class="tags">
    {frontmatter.tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>#{tag}</a></p>
    ))}
  </div>
  <p class="description"><em>{frontmatter.description}</em></p>
  <img src={frontmatter.image.url} alt={frontmatter.image.alt} /> 
  <div class="text-blog">
    <slot/>
  </div>
</BaseLayout>
<style>
  h1{
    font-size: 40px;
    line-height: 1.5;
  }
  .text-blog {
    font-size: 19px;
  }
  .description {
    margin: 10px 0 20px;
  }
  a {
    color: #00539F;
  }
            
  .tags {
    display: flex; 
    flex-wrap: wrap; 
    margin: 0 auto;  
  }

  .tag {
    margin: 0.25em;
    padding: .3em 0;
    font-size: 12px;
  }

  .author {
    font-size: 12px;
  }
</style>
<style is:inline set:html={MarkDownStyles}></style>