---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import  "../styles/md.css";
const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};
const date = frontmatter.pubDate
  ? new Date(frontmatter.pubDate).toLocaleDateString("es-EC", dateOptions)
  : null;
---

<BaseLayout pageTitle={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p class="author">{frontmatter.author} -     {date}</p>
  <div class="tags">
    {
      frontmatter.tags.map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>#{tag}</a>
        </p>
      ))
    }
  </div>
  <p class="description"><em>{frontmatter.description}</em></p>
  <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
  <div class="md">
    <slot />
  </div>
</BaseLayout>
<style>
  h1 {
    font-size: 40px;
    line-height: 1.5;
  }

  img {
    @apply mx-auto;
  }

  .description {
    @apply my-4;
  }

  a {
    @apply text-blue;
  }

  .tags {
    @apply flex flex-wrap my-0 mx-auto;
  }

  .tag {
    @apply my-1 mr-2 py-1 text-sm;
  }

  .author {
    @apply text-sm;
  }
</style>
