---
import Footer from "../components/atoms/Footer.astro";
import Navigation from "../components/molecules/Navigation.astro";
import MainHead from "../core/MainHead.astro";
import type { Project } from "../types";
import "../styles/md.css";

interface Props {
	content: Project;
}

const { content } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={content.title} description={content.description} />
		<style>
			.hero {
				padding: 8rem;
				display: flex;
				background-repeat: no-repeat;
				background-size: cover;
				min-height: 25vw;
				color: white;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			.title {
				font-weight: 900;
				text-transform: uppercase;
				letter-spacing: 0.0625em;
				background: #00000080;
				font-size: 20px;
				padding: 10px 20px;
				border-radius: 20px;
			}

			.tagline {
				font-weight: 300;
				line-height: 1.5;
			}

			.content {
				line-height: 2.2;
				max-width: 50em;
				margin: auto;
			}

			.wrapper {
				margin: 2rem 0;
			}

			footer {
				text-align: center;
				margin-top: 3rem;
			}

			a {
				@apply text-blue;
			}

			.tags {
				@apply flex flex-wrap my-2 mx-auto justify-center;
			}

			.tag {
				@apply my-1 mr-2 py-1 text-sm;
			}
		</style>
	</head>
	<body>
		<Navigation />
		<header style={`background-image:url(${content.img})`} class="hero">
			<h1 class="title">{content.title}</h1>
		</header>
		<div class="tags">
			{
				content.tags.map((tag: string) => (
					<p class="tag">
						<a href={`/tags/${tag}`}>#{tag}</a>
					</p>
				))
			}
		</div>
		<h3 class="tagline text-center">{content.description}</h3>
		<div class="wrapper">
			<div class="content md"><slot /></div>
		</div>
		<footer>
			<a href="/projects" class="button">More Projects</a>
		</footer>
		<Footer />
	</body>
</html>
